html,
body {
  background-color: #212121;
  color: white;
}

.App {
  text-align: center;
  height: 100%;
}
.btn {
  margin-right: 5px;
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
}
.btn:hover {
  background-color: rgba(red, green, blue, 0.9);
  cursor: pointer;
}

.product-div {
  margin-top: 10px;
}

.input-div {
  background-color: #212121;
  padding: 10px;
  margin: 0 auto;
}

.input {
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  border-radius: 5px;
}
